.servicesMobile {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.services {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 1200px;
  gap: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
  padding: 20px 40px 20px 20px;
}

.containerMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 40px);
  padding: 20px;
}
